.footer {
    /* background-color: black; */
    background-image: linear-gradient(90deg, yellow, black);
    
    margin-top: -5rem;
}






.footer-paragraph >:nth-child(2) {
    text-align: justify;
    color: white;
    
}

.text-uppercase {
    color:white;
}
.footer-copyright{
    color: white;
}
.footer-copyright>:nth-child(1){
    color: yellow;
}

.list-unstyled {
    color:yellow;
}